<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Image to Text Converter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <section class="header">
        <img class="logo" alt="logo" src="{{ url_for('static', filename='img/qtechwhite.png') }}">

        <div class="hero">
            <h1 style="text-align: center;">Image to Text Converter</h1>
            <p style="text-align: center;">We present an online OCR (optical character recognition) 
            service to extract text from an image. Upload a photo to our image to text converter, click on submit, and get your text file instantly.</p>
        </div>
    </section>
    <br>
    <section class="upload">
        <form method="post" action="/convert" enctype="multipart/form-data">
            <div class="form-content">
                <div id="dimg" class="drop-zone">
                    <h3>Upload an image here</h3>
                    <button id="camera-button">Use Camera</button>
                    <input type="file" name="image" accept="image/*" required>
                </div>
                <div id="preview"></div>
                <br>
                <button type="submit">Convert</button>
            </div>
        </form>
        
    </section>
    <div id="result">
        {% if text %}
            <h2>Extracted Text:</h2>
            <pre>{{ text }}</pre>
            <div class="download-links">
               <button><a href="{{ url_for('convert_to_pdf', text=text) }}" target="_blank">Download PDF</a></button>
                <button><a href="{{ url_for('convert_to_word', text=text) }}" target="_blank">Download Word</a></button>
            </div>
        {% elif error %}
            <h2>Error: {{ error }}</h2>
        {% elif no_text %}
            <h2>No text detected in the image.</h2>
        {% endif %}
    </div>
</div>


<script>
    document.getElementById("camera-button").addEventListener("click", () => {
        if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({ video: true })
                .then(function (stream) {
                    let video = document.createElement("video");
                    video.srcObject = stream;
                    video.autoplay = true;

                    video.onloadedmetadata = function (e) {
                        // Now you can capture video frames and process them as images
                    };
                })
                .catch(function (error) {
                    console.error("Camera access error:", error);
                });
        } else {
            console.error("getUserMedia not supported");
        }
    });
</script>



    
    <footer>
        <p>&copy; Q-Tech 2023</p>
    </footer>
    
</body>
</html>
