<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Image to Text Converter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="../static/" rel="stylesheet">
</head>
<body>
    <section class="header">
        <img class="logo" alt="logo" src="../static/img/qtechwhite.png">

        <div class="hero">
            <h1>Image to Text Converter</h1>
            <p  style="text-align: center;">We present an online OCR (optical character recognition) 
            service
            Upload a photo to our image to text converter, click on submit, and get your text file instantly.</p>
        </div>
    </section>
    <br>
    <section class="upload">
        <form method="post" action="/convert" enctype="multipart/form-data">
            <div class="form-content">
                <div id="dimg" class="drop-zone">
                    <h3>Upload images here</h3>
                    <input type="file" name="images" accept="image/*" multiple required>
                </div>
                <div id="preview"></div>
                <br>
                <label class="upload-button">
                    <input type="file" id="fileInput" name="images" accept="image/*" multiple style="display: none;">
                </label>
                <br><br><br>
                <button type="submit">Convert</button>
            </div>
        </form>
        
    </section>
    <div id="result">
        {% if texts %}
            <h2>Extracted Texts:</h2>
            <pre>{{ texts }}</pre>
        {% elif no_text %}
            <h2>No text detected in the image.</h2>
        {% endif %}
    </div>
</body>
</html>
